{
  "Name": "Node",
  "Priority": 99,
  "Component Instances": [
    {
      "Name": "up_solenoid",
      "Definition": "libSolenoid_actuator.so",
      "SchedulingScheme": "FIFO",
      "User Configuration": {
        "solenoidPin": 49,
        "id": 1
      },
      "Logging": {
        "Component Logger": {
          "FileName": "Node.up_solenoid.user.log",
          "Enabled": true,
          "Unit": 1
        },
        "ROSMOD Logger": {
          "FileName": "Node.up_solenoid.trace.log",
          "Enabled": true,
          "Unit": 1
        }
      },
      "Timers": {},
      "Publishers": [],
      "Subscribers": {
        "solenoid_subscriber": {
          "Name": "solenoid_subscriber",
          "Priority": 50,
          "Deadline": 0
        }
      },
      "Clients": [],
      "Servers": {}
    },
    {
      "Name": "BangBangController",
      "Definition": "libBangBangController.so",
      "SchedulingScheme": "FIFO",
      "User Configuration": {},
      "Logging": {
        "Component Logger": {
          "FileName": "Node.BangBangController.user.log",
          "Enabled": true,
          "Unit": 1000
        },
        "ROSMOD Logger": {
          "FileName": "Node.BangBangController.trace.log",
          "Enabled": true,
          "Unit": 1000
        }
      },
      "Timers": {},
      "Publishers": [],
      "Subscribers": {
        "control_enable_sub": {
          "Name": "control_enable_sub",
          "Priority": 50,
          "Deadline": 0
        }
      },
      "Clients": [],
      "Servers": {}
    },
    {
      "Name": "down_solenoid",
      "Definition": "libSolenoid_actuator.so",
      "SchedulingScheme": "FIFO",
      "User Configuration": {
        "solenoidPin": 48,
        "id": -1
      },
      "Logging": {
        "Component Logger": {
          "FileName": "Node.down_solenoid.user.log",
          "Enabled": true,
          "Unit": 1
        },
        "ROSMOD Logger": {
          "FileName": "Node.down_solenoid.trace.log",
          "Enabled": true,
          "Unit": 1
        }
      },
      "Timers": {},
      "Publishers": [],
      "Subscribers": {
        "solenoid_subscriber": {
          "Name": "solenoid_subscriber",
          "Priority": 50,
          "Deadline": 0
        }
      },
      "Clients": [],
      "Servers": {}
    },
    {
      "Name": "HighLevelController",
      "Definition": "libHighLevelController.so",
      "SchedulingScheme": "FIFO",
      "User Configuration": {
        "takeoff_threshold": 2,
        "min_omega": 0,
        "MECO_threshold": 0.2,
        "rollTime": 5,
        "experimentTime": 10,
        "initialDelay": 600,
        "skip_takeoff": false,
        "mecoDelay": 1.5,
        "numSamples": 3,
        "solCheckTime": 30,
        "roll_goal": 360
      },
      "Logging": {
        "Component Logger": {
          "FileName": "Node.HighLevelController.user.log",
          "Enabled": true,
          "Unit": 1
        },
        "ROSMOD Logger": {
          "FileName": "Node.HighLevelController.trace.log",
          "Enabled": true,
          "Unit": 1
        }
      },
      "Timers": {
        "flight_control_timer": {
          "Name": "flight_control_timer",
          "Period": 0.1,
          "Priority": 50,
          "Deadline": 0.4
        }
      },
      "Publishers": [],
      "Subscribers": {
        "imuState_sub": {
          "Name": "imuState_sub",
          "Priority": 50,
          "Deadline": 0
        }
      },
      "Clients": [],
      "Servers": {}
    },
    {
      "Name": "vn100_imu",
      "Definition": "libvn100_imu.so",
      "SchedulingScheme": "FIFO",
      "User Configuration": {
        "port": "/dev/ttyUSB0",
        "baudRate": 115200,
        "buzzerPin": 112
      },
      "Logging": {
        "Component Logger": {
          "FileName": "Node.vn100_imu.user.log",
          "Enabled": true,
          "Unit": 10000
        },
        "ROSMOD Logger": {
          "FileName": "Node.vn100_imu.trace.log",
          "Enabled": true,
          "Unit": 10000
        }
      },
      "Timers": {
        "Timer": {
          "Name": "Timer",
          "Period": 0.025,
          "Priority": 50,
          "Deadline": 0
        }
      },
      "Publishers": [],
      "Subscribers": {},
      "Clients": [],
      "Servers": {}
    }
  ],
  "Artifacts": [
    "Node.up_solenoid.user.log",
    "Node.up_solenoid.trace.log",
    "Node.BangBangController.user.log",
    "Node.BangBangController.trace.log",
    "Node.down_solenoid.user.log",
    "Node.down_solenoid.trace.log",
    "Node.HighLevelController.user.log",
    "Node.HighLevelController.trace.log",
    "Node.vn100_imu.user.log",
    "Node.vn100_imu.trace.log"
  ]
}